GitPython ~= 3.1
PyGithub ~= 1.58
boto3 ~= 1.26
botocore ~= 1.29
certbot ~= 2.9
certbot-dns-route53 ~= 2.9
click ~= 8.1
cryptography < 43.0.0 # Pinning until https://github.com/certbot/certbot/issues/9967 is fixed.
diskcache ~= 5.6
elasticsearch ~= 8.12.0
pyhcl ~= 0.4
requests ~= 2.31
tabulate ~= 0.9
wcwidth ~= 0.2
